@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
img {
  max-width: 100%;
  height: auto;
}
.logo, .brand-image, .device-image {
  max-width: 100%;
  height: auto;
}
html {
  scroll-behavior: smooth;
}